<div class="page-header-area-2 gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="small-breadcrumb">
                    <!-- <div class="breadcrumb-link">
                        <ul>
                            <li><a href="/home">Home Page</a></li>
                            <li><a class="active" href="#">Cars</a></li>
                        </ul>
                    </div> -->
                    <div class="header-page">
                        <h1>Shipping</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-8">
            <div class="bg-white py-3 mb-4">
                <div class="d-flex justify-content-center align-items-center">
                    <div class="step px-3 active">
                        <span class="step-number">1</span> <span class="mx-2"> Adress</span>
                        <small class="d-block text-gray mt-2">Please select or add your address</small>
                    </div>
                    <div class="step disabled px-3">
                        <span class="step-number">2</span> <span class="mx-2"> Payment </span>
                        <small class="d-block text-gray mt-2"> Credit/Debit Card, pay on delivery or Paypal</small>
                    </div>
                </div>
            </div>
            <div class="add-address">
                <div class="p-3 bg-white">
                    <div class="relative overflow-hidden">
                        <google-map height="400" width="100%" [zoom]="zoom" [center]="center" [options]="options">
                        </google-map>
                        <ul id="google-map-btn">
                            <li><a href="#" id="prevpoint" title="Previous point on map">Prev</a></li>
                            <li><a href="#" id="nextpoint" title="Next point on mp">Next</a></li>
                        </ul>
                    </div>
                    <form novalidate="" class="material-form">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" id="fullname" class="form-control mb-0">
                                    <label for="fullname">Full name*</label>
                                    <div class="matrial-line"></div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" id="fullname" class="form-control mb-0">
                                    <label for="fullname">Mobile number*</label>
                                    <div class="matrial-line"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <select id="inputState" class="form-control mb-0">
                                        <option>Choose...</option>
                                        <option selected="">State Option 1</option>
                                        <option>State Option 2</option>
                                    </select>
                                    <label for="inputState">City*</label>
                                    <div class="matrial-line"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" id="fullname" class="form-control mb-0">
                                    <label for="fullname">Area*</label>
                                    <div class="matrial-line"></div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" id="fullname" class="form-control mb-0">
                                    <label for="fullname">Address*</label>
                                    <div class="matrial-line"></div>
                                </div>
                            </div>
                        </div>
                       

                    </form>
                </div>
                <div class="mt-4 d-flex justify-content-end align-items-center">
                    <button type="submit" class="main-btn main-btn-theme sm">
                        Add new address
                    </button>
                    <a class="btn-link font-weight-bold fs-14">
                        <span class="px-5">Cancel</span>
                    </a>
                </div>
            </div>

            <div class="adresses-list my-4">
                <div class="address p-3 d-flex justify-content-center align-items-center">
                    <div class="radio radio-md">
                        <input type="radio" id="adress1" name="adresses" />
                        <label for="adress1"> </label>
                    </div>
                    <div class="mx-3">
                        <h5 class="font-weight-bold mb-1">Mohamed Ali</h5>
                        <div class="fs-14">
                            <p class="mb-0"> +971-50-8237532</p>
                            <p class="mb-0">Sharjah, United Arab Emirates</p>
                            <p class="mb-0">Khalifa Unversity</p>
                        </div>
                    </div>
                    <div class="icons ml-auto">
                        <img src="/assets/img/icons/edit.svg" width="20" height="20" class="mx-2" />
                        <img src="/assets/img/icons/delete.svg" width="20" height="20" />
                    </div>
                </div>
                <hr class="m-0">
                <div class="address p-3 d-flex justify-content-center align-items-center">
                    <div class="radio radio-md">
                        <input type="radio" id="adress2" name="adresses" />
                        <label for="adress2"></label>
                    </div>
                    <div class="mx-3">
                        <h5 class="font-weight-bold mb-1">Mohamed Ali</h5>
                        <div class="fs-14">
                            <p class="mb-0"> +971-50-8237532</p>
                            <p class="mb-0">Sharjah, United Arab Emirates</p>
                            <p class="mb-0">Khalifa Unversity</p>
                        </div>
                    </div>
                    <div class="icons ml-auto">
                        <img src="/assets/img/icons/edit.svg" width="20" height="20" class="mx-2" />
                        <img src="/assets/img/icons/delete.svg" width="20" height="20" />
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-between align-items-center">
                <a class="btn-link font-weight-bold fs-14"><i class="fas fa-plus"></i>
                    <span class="px-2">ADD ADDRESS</span>
                </a>
                <button type="submit" class="main-btn sm main-btn-theme ">
                    Proceed to payment
                </button>
            </div>
        </div>
        <div class="col-4">
            <div class="p-3 bg-white ">
                <div class="font-weight-bold m-0">
                    Coupon Code
                </div>
                <form action="" class="material-form mt-2">
                    <div class="form-group">
                        <input type="text" id="inputEmail124" class="form-control mb-0">
                        <label for="inputEmail124">Enter coupon code</label>
                        <div class="matrial-line"></div>
                    </div>
                </form>
            </div>
            <div class="bg-white mt-3 p-3">
                <div class="font-weight-bold m-0">
                    Order Summary
                </div>
                <hr>
                <div class="d-flex">
                    <img src="/assets/img/slider/slider-2.jpg" alt="" srcset="" width="70">
                    <div class="mx-3">
                        <h6 class="mb-2"> Honda Civic</h6>
                        <div class="fs-18 text-danger font-weight-bold">12135/month</div>
                    </div>
                </div>
                <hr>
                <div class="d-flex">
                    <img src="/assets/img/slider/slider-2.jpg" alt="" srcset="" width="70">
                    <div class="mx-3">
                        <h6 class="mb-2"> Honda Civic</h6>
                        <div class="fs-18 text-danger font-weight-bold">12135/month</div>
                    </div>
                </div>
            </div>
            <hr class="m-0">
            <div class="d-flex justify-content-between p-3 bg-white">
                <span class="font-weight-bold">Total</span>
                <span class="fs-18 text-danger font-weight-bold">121/AED</span>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>



<!-- Async script executes immediately and must be after any DOM elements used in callback. -->