<div class="page-header-area-2 gray">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-xs-12 col-sm-8">
                <div class="small-breadcrumb">
                    <div class="breadcrumb-link">
                        <ul>
                            <li><a href="/home">Home Page</a></li>
                            <li><a class="active" href="#">Details</a></li>
                        </ul>
                    </div>
                    <div class="header-page">
                        <h1>Car Name</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="singleprice-tag">$ 15,000<span>(Fixed)</span></div>
            </div>
        </div>
    </div>
</div>

<div class="container mb-5">
    <div class="row">
        <div class="col-5">
            <img src="/assets/img/no-image.png" class="img-fluid" alt="...">
        </div>
        <div class="col-7">
            <div class="content-box-grid">
                <div class="short-features">
                    <!-- Heading Area -->
                    <h4 class="main-title mb-3">
                        Description
                    </h4>
                    <p class="text-gray-light mb-4">
                        Bank Leased 5 Year plan 2013 Honda Civic 1.8 Vti Oriel Prosmatec Automatic ( New Shape )
                        Attractive Silver Color 1 year installments paid Lahore Reg number Well Maintained Insurance +
                        tracker etc included Options: Sunroof
                    </p>
                    <div class="row">
                        <div class="col-sm-6 mb-2">
                            <strong>Condition : </strong> <span class="text-gray-light">Used</span> 
                        </div>
                        <div class="col-sm-6 mb-2">
                            <strong>Brand : </strong> <span class="text-gray-light">BMW</span>
                        </div>
                        <div class="col-sm-6 mb-2">
                            <strong>Condition : </strong> <span class="text-gray-light">Used</span>
                        </div>
                        <div class="col-sm-6 mb-2">
                            <strong>Brand : </strong> <span class="text-gray-light">BMW</span>
                        </div>
                        <div class="col-sm-6 mb-2">
                            <strong>Condition : </strong> <span class="text-gray-light">Used</span>
                        </div>
                        <div class="col-sm-6 mb-2">
                            <strong>Brand : </strong> <span class="text-gray-light">BMW</span>
                        </div>
                    </div>
                </div>

                <div class="short-features mt-4">
                    <!-- Heading Area -->
                    <h4 class="main-title mb-3">
                        Car Features
                    </h4>
                    <!-- Car Key Features  -->
                    <ul class="car-feature-list ">
                        <li>
                            <i class="flaticon-antenna"></i>
                            <span class="text-gray-light"> AM/FM Radio</span>
                        </li>
                        <li>
                            <i class="flaticon-air-conditioner-1"></i> 
                            <span class="text-gray-light">Air Conditioning</span>
                        </li>
                        <li>
                            <i class="flaticon-cd"></i> 
                            <span class="text-gray-light">Cassette Player</span>
                        </li>
                        <li>
                            <i class="flaticon-light-bulb"></i> 
                            <span class="text-gray-light">Power Locks</span>
                        </li>
                        <li>
                            <i class="flaticon-rearview-mirror"></i> 
                            <span class="text-gray-light">Power Mirrors</span>
                        </li>
                        <li>
                            <i class="flaticon-car-steering-wheel"></i> 
                            <span class="text-gray-light">Power Steering</span>
                        </li>
                        <li>
                            <i class="flaticon-car-door"></i> 
                            <span class="text-gray-light">Power Windows</span>
                        </li>
                        <li>
                            <i class="flaticon-disc-brake"></i> 
                            <span class="text-gray-light">Anti-lock Braking</span>
                        </li>
                        <li>
                            <i class="flaticon-rim"></i> 
                            <span class="text-gray-light">19 Inch Alloy Wheels</span>
                        </li>
                        <li>
                            <i class="flaticon-message"></i> 
                            <span class="text-gray-light">Cruise Control</span>
                        </li>
                        <li>
                            <i class="flaticon-airbag"></i> 
                            <span class="text-gray-light">Front Airbag Package</span>
                        </li>
                        <li>
                            <i class="flaticon-photo-camera-1"></i> 
                            <span class="text-gray-light">Reversing Camera</span>
                        </li>
                    </ul>
                </div>
                <a class="fs-20 text-danger-dark d-block mt-3 font-weight-bold" href="#">
                    <i class="fas fa-info-circle mr-1"></i> 
                    Terms and conditions
                </a>
                <!-- Short Features  -->
            </div>
        </div>
    </div>
</div>