// hero banner configration
.bg-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #460202;
  opacity: 0.4;
}
div.cover {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
img.cover,
video.cover {
  position: absolute;
  left: -9999px;
  right: -9999px;
  top: -9999px;
  bottom: -9999px;
  margin: auto;
  min-width: 100%;
  min-height: 100%;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
.gray-bg {
  background-color: $white-smoke;
}
.badge-overlay {
  left: 10px;
  position: absolute;
  top: 10px;
  z-index: 11;
}
.badge {
  border-radius: 0;
  display: table;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 0.12em;
  line-height: 17px;
  padding: 3px 10px;
}
iframe {
  width: 100%;
}
