// hero banner configration
.bg-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #460202;
  opacity: 0.4;
}
div.cover {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
img.cover,
video.cover {
  position: absolute;
  left: -9999px;
  right: -9999px;
  top: -9999px;
  bottom: -9999px;
  margin: auto;
  min-width: 100%;
  min-height: 100%;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
.gray-bg {
  background-color: $white-smoke;
}
.badge-overlay {
  left: 10px;
  position: absolute;
  top: 10px;
  z-index: 11;
}
.badge {
  border-radius: 0;
  display: table;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 0.12em;
  line-height: 17px;
  padding: 3px 10px;
}
iframe {
  width: 100%;
}
.bg-gray {
  background-color: $white-smoke;
}
.step {
  flex: 1 1 0px;
  position: relative;
}
.step:first-child::after {
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  width: 1px;
  background: color(gray-light);
}
.step-number {
  border: 1px solid $white-smoke;
  background: $white;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  font-size: 12px;
  line-height: 1.5rem;
  text-align: center;
  z-index: 2;
}
.step.active .step-number {
  background: theme-color(danger-dark);
  color: $white;
}

.step.disabled {
  color: color(gray-lighter);
  .text-gray{
    color: color(gray-lighter) !important;
  }
}

/* world location section - start */
.world-location .custom-btn[type=submit] {
  width: 100%;
  display: block;
}
.world-location .form-item .input-icon {
  left: 20px;
  right: unset;
}
.world-location .form-item input {
  padding-left: 50px;
}
.world-location #mapBox {
  height: 450px;
  margin-top: 30px;
  border-radius: 4px;
}
.world-location .location-content {
  top: 50%;
  left: 50%;
  z-index: 1;
  width: 250px;
  padding: 30px;
  font-size: 15px;
  border-radius: 4px;
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.14);
}
.world-location .location-content h4 {
  font-size: 18px;
  margin-bottom: 15px;
}
.world-location .location-content p {
  line-height: 1.4;
  margin-bottom: 15px;
}
.world-location .location-content .save-btn a {
  color: #000C21;
}
.world-location .location-content .save-btn a i {
  margin-right: 5px;
}
.world-location .location-content .text-btn {
  margin-top: 15px;
}
.world-location .location-content .text-btn span {
  font-size: 12px;
}
.world-location .location-content .text-btn img {
  max-width: 26px;
}

/* world location section - end */