/* Utilities */

// images size classes helper
.img-lg {
  width: 92px;
  height: 92px;
}
.img-sm {
  width: 43px;
  height: 43px;
}
.img-xs {
  width: 37px;
  height: 37px;
}
.img-ss {
  width: 26px;
  height: 26px;
}
.stretch-card {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  > .card {
    width: 100%;
    min-width: 100%;
  }
}

// border size classes helper
.border-rigwd-sm {
  @media (min-width: 576px) {
    border-right: $border-width solid $border-color;
  }
}
.border-rigwd-md {
  @media (min-width: 768px) {
    border-right: $border-width solid $border-color;
  }
}
.border-right-lg {
  @media (min-width: 992px) {
    border-right: $border-width solid $border-color;
  }
}
.border-left-sm {
  @media (min-width: 576px) {
    border-left: $border-width solid $border-color;
  }
}
.border-left-md {
  @media (min-width: 768px) {
    border-left: $border-width solid $border-color;
  }
}
.border-left-lg {
  @media (min-width: 992px) {
    border-left: $border-width solid $border-color;
  }
}

// icons size helper css
svg.icon-xs {
  width: 12px;
  height: 12px;
}
svg.icon-sm {
  width: 14px;
  height: 14px;
}
svg.icon-md {
  width: 16px;
  height: 16px;
}
svg.icon-lg {
  width: 20px;
  height: 20px;
}
svg.icon-xl {
  width: 26px;
  height: 26px;
}
svg.icon-xxl {
  width: 40px;
  height: 40px;
}
.flex-grow {
  flex-grow: 1;
}
.cursor-pointer {
  cursor: pointer;
}
.text-nowrap {
  white-space: nowrap;
}

// Font size help class
.fs-10 {
  font-size: 10px !important;
}
.fs-11 {
  font-size: 11px !important;
}
.fs-12 {
  font-size: 12px !important;
}
.fs-13 {
  font-size: 13px !important;
}
.fs-14 {
  font-size: 14px !important;
}
.fs-15 {
  font-size: 15px !important;
}
.fs-16 {
  font-size: 16px !important;
}
.fs-17 {
  font-size: 17px !important;
}
.fs-18 {
  font-size: 18px !important;
}
.fs-20 {
  font-size: 20px !important;
}
.fs-22 {
  font-size: 22px !important;
}
.fs-24 {
  font-size: 24px !important;
}

// responsive border
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .border#{$infix}-top {
      border-top: $border-width solid $border-color;
    }
    .border#{$infix}-right {
      border-right: $border-width solid $border-color;
    }
    .border#{$infix}-bottom {
      border-bottom: $border-width solid $border-color;
    }
    .border#{$infix}-left {
      border-left: $border-width solid $border-color;
    }

    .border#{$infix}-top-0 {
      border-top: 0 !important;
    }
    .border#{$infix}-right-0 {
      border-right: 0 !important;
    }
    .border#{$infix}-bottom-0 {
      border-bottom: 0 !important;
    }
    .border#{$infix}-left-0 {
      border-left: 0 !important;
    }

    .border#{$infix}-x {
      border-left: $border-width solid $border-color;
      border-right: $border-width solid $border-color;
    }

    .border#{$infix}-y {
      border-top: $border-width solid $border-color;
      border-bottom: $border-width solid $border-color;
    }
  }
}

// Border
.bd {
  border: 1px solid $border-color;
}
.bd-t {
  border-top: 1px solid $border-color;
}
.bd-r {
  border-right: 1px solid $border-color;
}
.bd-b {
  border-bottom: 1px solid $border-color;
}
.bd-l {
  border-left: 1px solid $border-color;
}
.bd-y {
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
}
.bd-x {
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;
}
.bd-w-2 {
  border-width: 2px;
}
.bd-w-3 {
  border-width: 3px;
}
.bd-w-4 {
  border-width: 4px;
}
.bd-w-5 {
  border-width: 5px;
}

@each $color, $value in $theme-colors {
  .bd-#{$color} {
    border-color: $value;
  }
}

// Social

.social-list-item {
  height: 2rem;
  width: 2rem;
  line-height: calc(2rem - 4px);
  display: block;
  border: 2px solid $gray-500;
  border-radius: 50%;
  color: $gray-500;
  text-align: center;
  transition: all 0.4s;
  &:hover {
    color: $gray-600;
    background-color: $gray-200;
  }
}


.ltr {
  direction: ltr;
}
.rtl {
  direction: rtl;
}
