<div class="page-header-area-2 gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="small-breadcrumb">
                    <!-- <div class="breadcrumb-link">
                        <ul>
                            <li><a href="/home">Home Page</a></li>
                            <li><a class="active" href="#">Cars</a></li>
                        </ul>
                    </div> -->
                    <div class="header-page">
                        <h1>Payment</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-8">
            <div class="bg-white py-3 mb-4">
                <div class="d-flex justify-content-center align-items-center">
                    <div class="step disabled px-3">
                        <div class="d-flex justify-content-between">
                            <div>
                                <span class="step-number">1</span>
                                <span class="mx-2"> Adress</span>
                            </div>
                            <a class="btn-link font-weight-bold fs-14">Edit</a>
                        </div>
                        <small class="d-block text-gray mt-2">Please select or add your address</small>
                    </div>
                    <div class="step active px-3">
                        <span class="step-number">2</span> <span class="mx-2"> Payment </span>
                        <small class="d-block text-gray mt-2"> Credit/Debit Card, pay on delivery or Paypal</small>
                    </div>
                </div>
            </div>
            <div class="font-weight-bold mt-4"> Pay with </div>
            <div class="selector-border my-3">
                <div>
                    <input type="checkbox" checked>
                    <div class="selector-feature">
                        Credit / Debit card
                    </div>
                </div>
                <div>
                    <input type="checkbox">
                    <div class="selector-feature">
                        Pay on delivery
                        <span class="d-block fs-12 text-gray-light mt-1">+ 15 AED</span>
                    </div>
                </div>
            </div>
            <div class="add-payment">
                <div class="p-3 bg-white">
                    <form novalidate="" class="material-form">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <select id="inputState" class="form-control mb-0">
                                        <option>Choose...</option>
                                        <option selected="">State Option 1</option>
                                        <option>State Option 2</option>
                                    </select>
                                    <label for="inputState">Card number*</label>
                                    <div class="matrial-line"></div>
                                </div>
                                <div class="row align-items-center">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" id="fullname" class="form-control mb-0">
                                            <label for="fullname">CVC*</label>
                                            <div class="matrial-line"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 ml-auto text-right">
                                        <a class="btn-link font-weight-bold fs-12">Add New Card</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="p-3 bg-white">
                    <form novalidate="" class="material-form">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group creditcard">
                                    <input type="text" id="fullname" class="form-control mb-0">
                                    <label for="inputState">Card number*</label>
                                    <div class="matrial-line"></div>
                                </div>
                                <div class="form-group creditcard">
                                    <input type="text" id="fullname" class="form-control mb-0">
                                    <label for="inputState"> Name on Card*</label>
                                    <div class="matrial-line"></div>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="text" id="fullname" class="form-control mb-0">
                                    <label for="fullname">Valid until*</label>
                                    <div class="matrial-line"></div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="text" id="fullname" class="form-control mb-0">
                                    <label for="fullname">CVC*</label>
                                    <div class="matrial-line"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-md-8">
                                <div class="d-flex justify-content-between">
                                    <div class="checkbox checkbox-sm">
                                        <input type="checkbox" id="rememberMe" />
                                        <label for="rememberMe">
                                            <span class="font-weight-normal"> Save this card</span>
                                        </label>
                                    </div>
                                    <a class="btn-link font-weight-bold fs-12">Use existing card</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="mt-4 d-flex align-items-center">
                    <button type="submit" class="main-btn sm main-btn-theme px-5">
                        Buy now
                    </button>
                </div>
            </div>


        </div>
        <div class="col-4">
            <div class="p-3 bg-white ">
                <div class="font-weight-bold m-0">
                    Coupon Code
                </div>
                <form action="" class="material-form mt-2">
                    <div class="form-group">
                        <input type="text" id="inputEmail124" class="form-control mb-0">
                        <label for="inputEmail124">Enter coupon code</label>
                        <div class="matrial-line"></div>
                    </div>
                </form>
            </div>
            <div class="bg-white mt-3 p-3">
                <div class="font-weight-bold m-0">
                    Order Summary
                </div>
                <hr>
                <div class="d-flex">
                    <img src="/assets/img/slider/slider-2.jpg" alt="" srcset="" width="70">
                    <div class="mx-3">
                        <h6 class="mb-2"> Honda Civic</h6>
                        <div class="fs-18 text-danger font-weight-bold">12135/month</div>
                    </div>
                </div>
                <hr>
                <div class="d-flex">
                    <img src="/assets/img/slider/slider-2.jpg" alt="" srcset="" width="70">
                    <div class="mx-3">
                        <h6 class="mb-2"> Honda Civic</h6>
                        <div class="fs-18 text-danger font-weight-bold">12135/month</div>
                    </div>
                </div>
            </div>
            <hr class="m-0">
            <div class="d-flex justify-content-between p-3 bg-white">
                <span class="font-weight-bold">Total</span>
                <span class="fs-18 text-danger font-weight-bold">121/AED</span>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>