<div class="page-header-area-2 gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="small-breadcrumb">
          <div class="breadcrumb-link">
            <ul>
              <li><a href="/home">Home Page</a></li>
              <li><a class="active" href="#">Registration</a></li>
            </ul>
          </div>
          <div class="header-page">
            <h1>Create an account.</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="account-pages mt-4 mb-5 pb-md-5">
  <div class="container">
    <div class="justify-content-center row">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="overflow-hidden card">
          <div class="card-body">
            <form novalidate="" class="material-form">
              <div class="mb-4">
                <div class="form-group">
                  <input type="text" class="form-control" id="firstname" autocomplete="firstName">
                  <label for="firstname"> Name</label>
                  <div class="matrial-line"></div>
                </div>
              </div>
              <div class="mb-4">
                <div class="form-group">
                  <input type="email" class="form-control" id="exampleInputEmail1">
                  <label for="exampleInputEmail1">Email address</label>
                  <div class="matrial-line"></div>
                </div>
              </div>
              <div class="mb-4">
                <div class="form-group">
                  <input type="password" class="form-control" id="exampleInputPassword1"  autocomplete="current-password" >
                  <label for="exampleInputPassword1">Password</label>
                  <div class="matrial-line"></div>
                </div>
              </div>
              <div class="mb-4">
                <div class="form-group">
                  <input type="password" class="form-control" id="exampleInputPassword2"  autocomplete="current-password" >
                  <label for="exampleInputPassword2">Repeat Password</label>
                  <div class="matrial-line"></div>
                </div>
              </div>
              <div class="mb-3">
                <div class="checkbox checkbox-sm">
                  <input type="checkbox" id="rememberMe" />
                  <label for="rememberMe">
                    <span class="fs-12 text-uppercase font-weight-normal">Remember Me</span>
                  </label>
                </div>
              </div>
              <div class="checkbox checkbox-sm">
                <input type="checkbox" id="termsconditions" />
                <label for="termsconditions">
                  <span class="fs-12 text-uppercase font-weight-normal">
                    I have read and accept the <a href="#"> Terms and Conditions. </a>
                  </span>
                </label>
              </div>
              <div class="mt-4 py-2">
                <button type="submit" class="main-btn main-btn-theme btn-block" (click)="onRegister($event)">
                  Sing up
                </button>
              </div> 
            </form>
          </div>
        </div>
        <div class="mt-5 text-center">
          <p>
            Already a user ?
            <a class="fw-medium text-primary" href="/auth/login"> Sign in </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>