// btn nostyle
button.no-style {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.main-btn {
  text-align: center;
  color: $white;
  background-color: theme-color(danger-dark);
  border-radius: 0;
  padding: 16px 24px;
  outline: 0;
  border: 0;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 500;
}

.main-btn.sm { 
  padding: 10px 16px;
  font-size: 14px; 
}

.main-btn:hover {
  background-color: theme-color(danger);
  color: $white;
  outline: 0;
}

.secondary-btn {
  color: $white;
  background: transparent;
  border: 2px solid theme-color(danger-dark);
  position: relative;
  padding: 10px 16px;
  transition: all 0.3s ease-in-out;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 6px;
  font-size: 14px;
  display: inline-block;
}

.secondary-btn-theme {
  color: theme-color(danger-dark);
}

.secondary-btn:hover:before,
.secondary-btn:hover:after {
  width: calc(100% + 12px);
  height: calc(100% + 12px);
  border-color: theme-color(danger-dark);
}

.secondary-btn:hover {
  color: $white;
  background-color: theme-color(danger-dark);
  border-color: theme-color(danger-dark);
}

.secondary-btn:before,
.secondary-btn:after {
  content: "";
  display: block;
  position: absolute;
  border-color: theme-color(danger-dark);
  box-sizing: border-box;
  border-style: solid;
  width: 1em;
  height: 1em;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.secondary-btn:before {
  top: -6px;
  left: -6px;
  border-width: 2px 0 0 2px;
  z-index: 5;
}

.secondary-btn:after {
  bottom: -6px;
  right: -6px;
  border-width: 0 2px 2px 0;
}

.secondary-btn:hover:before,
.secondary-btn:hover:after {
  width: calc(100% + 12px);
  height: calc(100% + 12px);
  border-color: theme-color(danger-dark);
}

.secondary-btn:hover {
  color: $white;
  background-color: theme-color(danger-dark);
  border-color: theme-color(danger-dark);
}

/*================================================
06 - BTN TOP CSS
==================================================*/

.btntoTop:before {
  color: $white;
  content: "";
  display: inline-block;
  font: 20px "FontAwesome";
  vertical-align: middle;
}

.btntoTop {
  background-color: theme-color(danger-dark);
  border: 2px solid theme-color(danger-dark);
  border-radius: 5px;
  bottom: 70px;
  cursor: pointer;
  height: 50px;
  line-height: 47px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  position: fixed;
  right: 20px;
  text-align: center;
  -webkit-transition: opacity 0.4s ease 0s;
  transition: opacity 0.4s ease 0s;
  width: 50px;
  z-index: 99999;
}

.btntoTop.active {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.btntoTop.active:hover {
  background: #212121 none repeat scroll 0 0;
  border: 2px solid #cb2415;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

.btntoTop.active.btntoTop:hover:before {
  color: $white;
}


.btn-link {
  color: theme-color(danger-dark);
  &:hover {
    color: theme-color(danger-dark);
  }
}

 