/*================================================
10 - MAIN SLIDER CSS
==================================================*/
.main-slider-area {
  background-color: #eee;
  background-position: center center;
  background-size: cover;
  height: 640px;
}

.main-slider-area .swiper-button-next,
.main-slider-area .swiper-button-prev {
  width: 61px;
  height: 9px;
  margin: 0;
}

.main-slider-area .swiper-button-prev {
  left: -30px;
  background-image: url(../../img/slider/prev-1.png);
  visibility: hidden;
  -webkit-transition: all 0.2s cubic-bezier(0.83, 0.8, 0.11, 0.64) 0s;
  transition: all 0.2s cubic-bezier(0.83, 0.8, 0.11, 0.64) 0s;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.main-slider-area .swiper-button-next {
  right: -30px;
  background-image: url(../../img/slider/next-1.png);
  visibility: hidden;
  -webkit-transition: all 0.2s cubic-bezier(0.83, 0.8, 0.11, 0.64) 0s;
  transition: all 0.2s cubic-bezier(0.83, 0.8, 0.11, 0.64) 0s;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.main-slider-area .swiper-button-next:after,
.main-slider-area .swiper-button-prev:after {
  display: none;
}

.main-slider-area:hover .swiper-button-prev {
  visibility: visible;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  left: 30px;
}

.main-slider-area:hover .swiper-button-next {
  visibility: visible;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  right: 30px;
}

.hero-bg-images {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}