/*================================================
10 - MAIN SLIDER CSS
==================================================*/
.main-slider-area {
  background-color: #eee;
  background-position: center center;
  background-size: cover;
  height: 640px;
}

.main-slider-area .swiper-button-next,
.main-slider-area .swiper-button-prev {
  width: 61px;
  height: 9px;
  margin: 0;
}

.main-slider-area .swiper-button-prev {
  left: -30px;
  background-image: url(/assets/img/slider/prev-1.png);
  visibility: hidden;
  -webkit-transition: all 0.2s cubic-bezier(0.83, 0.8, 0.11, 0.64) 0s;
  transition: all 0.2s cubic-bezier(0.83, 0.8, 0.11, 0.64) 0s;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.main-slider-area .swiper-button-next {
  right: -30px;
  background-image: url(/assets/img/slider/next-1.png);
  visibility: hidden;
  -webkit-transition: all 0.2s cubic-bezier(0.83, 0.8, 0.11, 0.64) 0s;
  transition: all 0.2s cubic-bezier(0.83, 0.8, 0.11, 0.64) 0s;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.main-slider-area .swiper-button-next:after,
.main-slider-area .swiper-button-prev:after {
  display: none;
}

.main-slider-area:hover .swiper-button-prev {
  visibility: visible;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  left: 30px;
}

.main-slider-area:hover .swiper-button-next {
  visibility: visible;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  right: 30px;
}

.main-slider-area:hover .swiper-button-next.swiper-button-disabled,
.main-slider-area .swiper-button-prev.swiper-button-disabled,
.main-slider-area:hover .swiper-button-next.swiper-button-disabled,
.main-slider-area .swiper-button-prev.swiper-button-disabled {
  opacity: .5;
}

.hero-bg-images {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

/* gallery section - start */
.gallery-fullimage {
  position: relative;
  min-height: 280px;
  overflow: hidden
}

.gallery-fullimage:before {
  left: 0px;
  right: 0px;
  bottom: 0px;
  content: "";
  z-index: 1;
  position: absolute;
  transition: 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  background-image: linear-gradient(0deg, #01000a, rgba(1, 0, 10, 0));
}

.gallery-fullimage:hover:before {
  top: 0px;
  transition-delay: 0.2s;
}

.gallery-fullimage img {
  transition: 0.6s cubic-bezier(0.22, 1, 0.36, 1);
}

.gallery-fullimage:hover img {
  transform: scale(1.1);
}

.gallery-fullimage .gallery-content {
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 2;
  opacity: 0;
  filter: blur(10px); 
  position: absolute;
  transition: 0.6s cubic-bezier(0.22, 1, 0.36, 1);
}
 
.gallery-fullimage:hover .gallery-content {
  opacity: 1;
  filter: blur(0px);
  transition-delay: 0.22s;
}

.gallery_2col_carousel {
  padding-bottom: 60px;
}
.gallery_2col_carousel .swiper-slide:nth-child(2n+0) {
  margin-top: 60px;
}
/* gallery section - end */