.form-group {
  position: relative;
  padding-top: 1rem;
}
.form-group.creditcard {
  background-image: url(/assets/img/icons/default-card.svg);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: 99% 85%;
  padding-right: 2rem;
}
.form-group.location-input {
  background-image: url(/assets/img/icons/map-pin.svg);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: 99% 85%;
  padding-right: 2rem;
}

.form-control {
  border: 0;
  border-radius: 0;
  padding: 10px 0;
  background-color: transparent;
  position: relative;
  z-index: 2;
  font-size: 1rem;
}
.form-control:not(textarea) {
  height: 40px;
}
.form-control + label {
  position: absolute;
  z-index: 1;
  top: 25px;
  margin: 0;
  transition: all 0.2s ease-in-out;
  pointer-events: none;
  left: 0;
  right: 0;
}
.form-control:focus {
  box-shadow: none;
  background-color: transparent;
}
.form-control:focus + label {
  color: theme-color(dark);
}
.form-control:focus + label,
.form-control.has-value + label {
  font-size: 0.75rem;
  top: 0;
}
.matrial-line {
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: theme-color(danger-dark);
  background-image: -o-linear-gradient(
    left,
    theme-color(danger-dark) 0%,
    $darkslategray 100%
  );
  background: linear-gradient(
    to right,
    theme-color(danger-dark) 0%,
    $darkslategray 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="$from", endColorstr="$to",GradientType=1 );
}
.matrial-line:after {
  content: "";
  height: 2px;
  position: absolute;
  display: block;
  background: theme-color(danger-dark);
  left: 0;
  right: 0;
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
  transform-origin: 0 0;
}
.form-control:focus ~ .matrial-line:after {
  transform: scaleX(1);
}
select.form-control:not([size]):not([multiple]) {
  height: 40px;
}

.checkbox,
.radio {
  position: relative;
}

.checkbox input[type="checkbox"],
.radio input[type="radio"] {
  display: none;
}

.radio label {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.radio label:before {
  content: "";
  border: 1px solid color(gray-lighter);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
}

.radio label:after {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  background-color: theme-color(danger-dark);
  border-radius: 50%;
  left: 4px;
  opacity: 0;
  transform: scale(2.5);
}

.radio.radio-md input ~ label:before {
  width: 24px;
  height: 24px;
}
.radio.radio-md input ~ label:after {
  height: 18px;
  width: 18px;
  left: 3px;
}

.radio.radio-sm input ~ label:before {
  width: 15px;
  height: 15px;
}
.radio.radio-sm input ~ label:after {
  width: 9px;
  height: 9px;
  left: 3px;
}

.radio input[type="radio"]:checked ~ label:after {
  opacity: 1;
  transform: scale(0.8);
  transition: all 0.3s cubic-bezier(0.35, 0.9, 0.4, 0.9);
}

.radio input[type="radio"]:checked ~ label:before {
  border: 1px solid theme-color(danger-dark);
}
.radio input[type="radio"]:disabled ~ label {
  color: #adb5bd;
}

.radio input[type="radio"]:disabled ~ label:before {
  background-color: #f7f7f8 !important;
  border: 1px solid color(gray-lightest) !important;
}

.radio input[type="radio"]:disabled ~ label:after {
  background-color: #bdbdbd;
}

.checkbox label {
  margin-left: 1.75rem;
  margin-bottom: 0;
  align-items: center;
  display: flex;
}

.checkbox label:before {
  content: "";
}

.checkbox label:after,
.checkbox label:before {
  height: 20px;
  width: 20px;
  position: absolute;
  left: 0;
  border-radius: 0.35rem;
  border: 1px solid color(gray-lighter);
  top: 50%;
  transform: translateY(-50%);
}

.checkbox label:after {
  content: " ";
  transition: 0.1s ease-in-out;
}


.checkbox input[type="checkbox"]:checked ~ label:after {
  transform: rotate(-45deg) translateY(-50%);
  height: 0.3rem;
  width: 0.7rem;
  border-left-color: theme-color(danger-dark);
  border-bottom-color: theme-color(danger-dark);
  border-radius: 0;
  border-left-width: 2px;
  border-bottom-width: 2px;
  border-right: 2px theme-color(danger-dark);
  border-top: 2px theme-color(danger-dark);
  top: 43%;
  left: 6px;
}

.checkbox input[type="checkbox"]:checked ~ label:before {
  border: 1px solid theme-color(danger-dark);
}

.checkbox.checkbox-sm input[type="checkbox"]:checked ~ label:after {
  height: 4px;
  width: 8px;
  left: 8px;
  top: 46%;
  border-left-width: 1px;
  border-bottom-width: 1px;
}

.checkbox.checkbox-sm label:after,
.checkbox.checkbox-sm label:before {
  width: 16px;
  height: 16px;
  left: 3px;
}

.checkbox input[type="checkbox"]:disabled ~ label {
  color: #adb5bd;
}

.checkbox input[type="checkbox"]:disabled ~ label:before {
  background-color: $white-smoke !important;
  box-shadow: none !important;
}

.checkbox input[type="checkbox"]:disabled:checked ~ label:after {
  border-color: color(gray-lighter);
}

.custom-switch
  input[type="checkbox"]:focus:not(:checked)
  ~ .custom-control-label:before {
  border-color: color(gray-lighter);
}

.custom-switch input[type="checkbox"] ~ label:before {
  top: 0;
  height: 1.5rem;
  border-radius: 1rem;
  background-color: transparent;
}

.custom-switch input[type="checkbox"] ~ label:after {
  top: 2px;
  left: -2.9rem;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 1rem;
  transition: all 0.25s ease;
}

.custom-switch input[type="checkbox"]:checked ~ label:after {
  left: -3.5rem;
  background-color: #fff !important;
}

// selector

.selector-border {
  position: relative;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
}

.selector-border input[type="checkbox"],
.selector-border input[type="radio"] {
  visibility: hidden;
  position: absolute;
  left: 0;
  right: 0;
  display: none;
}

.selector-border .selector-feature {
  padding: 10px 1rem;
  border: 1px solid $white;
  transition: all 0.2s ease;
  box-shadow: 0 5px 10px 0 rgb(0 0 0 / 10%);
  height: 100%;
  position: relative;
  cursor: pointer;
  background-color: $white;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.selector-border input[type="checkbox"]:checked + .selector-feature,
.selector-border input[type="radio"]:checked + .selector-feature {
  color: theme-color(danger-dark);
  border: 1px solid theme-color(danger-dark);
  text-shadow: 0 0 0 theme-color(danger-dark);
}
