.top-header {
  display: block;
  background-color: $white-smoke;
}

.user-link {
  font-weight: 500;
  padding: 0 1rem;
  display: inline-block;
  height: 48px;
  color: theme-color(dark);
  font-size: 16px;
  line-height: 47px;
  vertical-align: middle;
  width: 100px;
  text-align: center;
}
.user-link:hover {
  border-bottom: 3px solid theme-color(danger-dark);
  text-decoration: none;
  color: theme-color(danger-dark);
}
.user-link:selected {
  border-bottom: 3px solid theme-color(danger-dark);
  text-decoration: none;
  color: theme-color(danger-dark);
}
.actions-menu {
  display: block;
  width: 100%;
  height: 40px;
  background-color: theme-color(danger-dark);
  background-image: url("/assets/img/texture.png");
}
.user-image {
  border: 1px solid theme-color(danger-dark);
  border-radius: 300px;
  width: 200px;
}
.responsive-menu,
.mob-visible {
  display: none;
}
.responsive-menu-open {
  max-width: 100% !important;
}

.header-area {
  background-color: $white;
}

.header-area .nav li {
  margin-right: 35px;
}
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .header-area .nav li {
    margin-right: 20px;
  }
}
.header-area .nav li:last-child {
  margin-right: 0;
}
.header-area .nav li a {
  color: theme-color(dark);
  display: block;
  font-size: 1rem;
  text-transform: uppercase;
  line-height: 1.6;
  font-family: $neotech;
}
.header-area .nav li a:hover {
  color: theme-color(danger-dark);
}
@media only screen and (max-width: 575.98px) {
  .site-logo {
    margin-bottom: 10px;
  }
}
.site-action .login-reg-nav li {
  position: relative;
}
@media only screen and (max-width: 767.98px) {
  .site-action .login-reg-nav li {
    margin-right: 15px;
  }
}
.site-action .login-reg-nav li:after {
  content: "|";
  position: absolute;
  right: -20px;
  top: 0;
}
@media only screen and (max-width: 767.98px) {
  .site-action .login-reg-nav li:after {
    right: -10px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .site-action .login-reg-nav li:after {
    right: -12px;
  }
}
.site-action .login-reg-nav li:last-child:after {
  display: none;
}
/*=============================
 4.1 - Site Navigation Style
 ==============================*/
@media only screen and (min-width: 1200px) {
  .main-menu {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.main-menu li {
  position: relative;
}

.main-menu li.has-submenu .sub-menu {
  background-color: $white;
  padding: 20px 20px;
  position: absolute;
  text-align: left;
  top: 100%;
  -webkit-transform: translateY(20px);
  -ms-transform: translateY(20px);
  transform: translateY(20px);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  pointer-events: none;
  margin-top: 28px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  width: 230px;
  z-index: 9999;
  left: 0;
  border-top: 2px solid theme-color(danger-dark);
}

.main-menu li.has-submenu .sub-menu:before {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 0;
  height: 34px;
  width: 100%;
}

.main-menu li.has-submenu .sub-menu li {
  margin-right: 0;
}

.main-menu li.has-submenu .sub-menu li:first-child a {
  padding-top: 0;
}

.main-menu li.has-submenu .sub-menu li:last-child a {
  padding-bottom: 0;
}

.main-menu li.has-submenu .sub-menu li a {
  color: theme-color(dark);
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
  padding: 8px 0;
}

.main-menu li.has-submenu .sub-menu li a:hover {
  color: theme-color(danger-dark);
}

.main-menu li.has-submenu:hover .sub-menu {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
}

.main-menu li:hover a {
  color: theme-color(danger-dark);
}

/********************
Responsive
******************/

@media (max-width: 576px) and (max-width: 768px) {
  .footer-actions,
  .copyright {
    text-align: center;
  }
  .footer-actions img {
    width: 50%;
  }
  .footer-actions .social-media-links img {
    width: 24%;
  }
  .footer-actions .payment-links img {
    width: 90%;
  }
  .footer-actions .app-store-links,
  .footer-actions .social-media-links,
  .footer-actions .payment-links {
    margin: 10px auto;
  }
  .footer-main {
    text-align: center;
  }
  .footer-main .row {
    margin-bottom: 20px;
  }
  .input-holder {
    margin: 0 auto;
  }

  .main-header .text-left,
  .main-header .text-right {
    text-align: center !important;
  }
  .main-links {
    padding: 20px 0;
  }
  .main-link {
    padding-right: 10px;
    padding-left: 10px;
    min-width: 90px;
    font-size: 15px;
    text-transform: uppercase;
  }
  .nudge-right,
  .nudge-left {
    margin: 10px auto;
  }
  .main-link:hover {
    padding-right: 10px;
    padding-left: 10px;
    padding: 14px 10px;
  }
  .user-info-holder {
    text-align: center;
  }
  .user-image {
    border: 3px solid theme-color(danger-dark);
    width: 100px;
    display: inline-block;
    vertical-align: bottom;
  }
  .footer-title {
    font-size: 16px;
  }
  .footer-link {
    font-size: 12px;
  }
  .footer-actions-header {
    font-size: 20px;
  }
  .responsive-menu {
    display: block;
    max-width: 0;
    overflow: hidden;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: $white;
    transition: all ease 0.5s;
  }
  .responsive-menu .user-link {
    width: 49%;
  }
  .responsive-menu .profile-data {
    display: block;
    width: 100%;
    left: 15px;
    position: relative;
  }
  .responsive-menu .profile-data > div {
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
  }
  .responsive-menu .profile-img-icon img {
    width: 50px;
  }
  .responsive-menu .main-links {
    display: block;
    width: 100%;
  }
  .responsive-menu .main-link {
    display: block;
    width: 100%;
    text-align: left;
    padding: 20px 30px;
  }
  .action-icons img {
    width: 20px;
  }
  .action-icons a {
    padding: 10px 0;
    width: 20%;
  }
  .mob-sep {
    display: block;
    width: 100%;
    height: 2px;
    border-bottom: 2px solid #ddd;
  }
  .close {
    background-color: theme-color(danger-dark);
  }
  .action-icons {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
  }
  .responsive-menu .profile-img-icon {
    text-align: center;
  }
  .user-name {
    font-family: Neotech;
    font-size: 18px;
    margin: 4px 0;
  }
  .responsive-menu .profile-data {
    background-color: theme-color(danger-dark);
    color: $white;
  }

  .mob-copyright {
    position: absolute;
    bottom: 15px;
    color: $white;
    background-color: theme-color(danger-dark);
    padding: 10px;
    margin: 0 15px;
    font-family: Neotech;
    font-size: 10px;
    text-align: center;
  }
  .top-header,
  .main-header {
    display: none;
  }
  .mob-visible {
    display: block;
  }
  .mob-visible .logo img {
    height: 40px;
  }
  .mob-visible .logo {
    display: inline-block;
    width: 87%;
    vertical-align: top;
    padding: 0 10px;
  }
  .mob-visible .menu-btn {
    display: inline-block;
    width: auto;
    vertical-align: top;
    text-align: right;
    width: 10%;
  }
  .mob-visible .close-btn img {
    height: 40px;
  }

  .close-btn-holder {
    padding: 10px 0;
    width: 20%;
    background-color: theme-color(danger-dark);
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .footer-actions {
    text-align: center;
  }
  .responsive-menu {
    display: block;
    max-width: 0;
    overflow: hidden;
    height: auto;
    min-height: 100%;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: $white;
    transition: all ease 0.5s;
  }
  .responsive-menu .user-link {
    width: 49%;
  }
  .responsive-menu .profile-data {
    display: block;
    width: 100%;
    left: 15px;
    position: relative;
  }
  .responsive-menu .profile-data > div {
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
  }
  .responsive-menu .profile-img-icon img {
    width: 50px;
  }
  .responsive-menu .main-links {
    display: block;
    width: 100%;
  }
  .responsive-menu .main-link {
    display: block;
    width: 100%;
    text-align: left;
    padding: 20px 30px;
  }
  .action-icons img {
    width: 20px;
  }
  .action-icons a {
    padding: 10px 0;
    width: 20%;
  }
  .mob-sep {
    display: block;
    width: 100%;
    height: 2px;
    border-bottom: 2px solid #ddd;
  }
  .close {
    background-color: theme-color(danger-dark);
  }
  .action-icons {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
  }
  .responsive-menu .profile-img-icon {
    text-align: center;
  }
  .user-name {
    font-family: Neotech;
    font-size: 18px;
    margin: 4px 0;
  }
  .responsive-menu .profile-data {
    background-color: theme-color(danger-dark);
    color: $white;
  }
  .mob-copyright {
    position: absolute;
    bottom: 15px;
    color: $white;
    background-color: theme-color(danger-dark);
    padding: 10px;
    margin: 0 15px;
    font-family: Neotech;
    font-size: 10px;
    text-align: center;
  }
  .top-header,
  .main-header {
    display: none;
  }
  .mob-visible .logo img {
    height: 40px;
  }
  .mob-visible .logo {
    display: inline-block;
    width: 87%;
    vertical-align: top;
    padding: 0 10px;
  }
  .mob-visible .menu-btn {
    display: inline-block;
    width: auto;
    vertical-align: top;
    text-align: right;
    width: 10%;
  }
  .mob-visible .close-btn img {
    height: 40px;
  }
  .close-btn-holder {
    padding: 10px 0;
    width: 20%;
    background-color: theme-color(danger-dark);
  }
}

@media only screen and (orientation: portrait) {
  .responsive-menu {
    display: block;
    max-width: 0;
    overflow: hidden;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: $white;
    transition: all ease 0.5s;
  }
  .responsive-menu .user-link {
    width: 49%;
  }
  .responsive-menu .profile-data {
    display: block;
    width: 100%;
    left: 0px;
    position: relative;
  }
  .responsive-menu .profile-data > div {
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
  }
  .responsive-menu .profile-img-icon img {
    width: 50px;
  }

  .responsive-menu .main-links {
    display: block;
    width: 100%;
  }
  .responsive-menu .main-link {
    display: block;
    width: 100%;
    text-align: left;
    padding: 20px 30px;
  }
  .action-icons img {
    width: 20px;
  }
  .action-icons a {
    padding: 10px 0;
    width: 20%;
  }
  .mob-sep {
    display: block;
    width: 100%;
    height: 2px;
    border-bottom: 2px solid #ddd;
  }
  .close {
    background-color: theme-color(danger-dark);
  }
  .action-icons {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
  }
  .responsive-menu .profile-img-icon {
    text-align: center;
  }
  .user-name {
    font-family: Neotech;
    font-size: 18px;
    margin: 4px 0;
  }
  .responsive-menu .profile-data {
    background-color: theme-color(danger-dark);
    color: $white;
  }
  .mob-copyright {
    position: absolute;
    bottom: 15px;
    color: $white;
    background-color: theme-color(danger-dark);
    padding: 10px;
    margin: 0;
    font-family: Neotech;
    font-size: 10px;
    text-align: center;
  }
  .top-header,
  .main-header {
    display: none;
  }
  .mob-visible .logo img {
    height: 40px;
  }
  .mob-visible .logo {
    display: inline-block;
    width: 87%;
    vertical-align: top;
    padding: 0 10px;
  }
  .mob-visible .menu-btn {
    display: inline-block;
    width: auto;
    vertical-align: top;
    text-align: right;
    width: 10%;
  }
  .mob-visible .close-btn img {
    height: 40px;
  }
  .close-btn-holder {
    padding: 10px 0;
    width: 20%;
    background-color: theme-color(danger-dark);
  }
}
