.user-link {
  font-family: lato, ge ss;
  font-weight: 500;
  padding: 0 1rem;
  display: inline-block;
  height: 48px;
  color: #353738;
  font-size: 16px;
  line-height: 47px;
  vertical-align: middle;
  width: 100px;
  text-align: center;
}
.user-link:hover {
  border-bottom: 3px solid #a32135;
  text-decoration: none;
  color: #a32135;
}
.user-link:selected {
  border-bottom: 3px solid #a32135;
  text-decoration: none;
  color: #a32135;
}
.top-header {
  display: block;
  background-color: #f1f1eb;
}
.main-header .logo {
  display: inline-block;
  vertical-align: middle;
}
.main-header .main-links {
  display: inline-block;
  vertical-align: middle;
}
.main-links {
  font-family: Neotech;
}
.main-link {
  padding-right: 1.6rem;
  padding-left: 1.6rem;
  min-width: 108px;
  text-align: center;
  font-size: 20px;
  color: #a32135;
}
.footer-main {
  background-color: #f7f8f4;
  padding: 20px 0;
}
.footer-title {
  display: block;
  font-family: lato;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  font-size: 20px;
  margin-bottom: 10px;
}
.footer-link {
  display: block;
  font-family: lato;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  color: #999;
  margin: 10px;
  font-size: 16px;
}
.footer-actions {
  padding: 20px 0;
}
.footer-actions-header {
  font-family: Neotech;
  font-size: 26px;
  text-align: center;
}
.footer-actions .col-4:first-child img {
  display: inline-block;
  height: 60px;
}
.footer-actions .col-4:nth-child(2) img {
  display: inline-block;
  height: 60px;
}
.footer-actions .col-4:last-child img {
  display: inline-block;
  height: 60px;
  margin-left: -15px;
}
.copyright {
  background-color: #a32135;
  padding: 20px 0;
  color: #fff;
  font-family: lato;
  font-weight: bold;
}
.input-holder {
  position: relative;
  display: block;
}
.news-letter {
  display: inline-block;
  border: 0px solid transparent;
  height: 40px;
  width: 250px;
  border-radius: 10px;
  background-image: url("/assets/img/newletterpattern.png");
  margin: 10px 0;
  position: relative;
}
.submit-newsletter {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background-image: url("/assets/img/newsletterarrow.png");
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: -2px -2px;
  margin-left: -45px;
  margin-top: -2px;
  margin-bottom: 35px;
  position: relative;
  top: 13px;
  right: -2px;
}
.main-link:hover {
  text-decoration: none;
  cursor: pointer;
  color: #a32135;
  border-bottom: 5px solid #a32135;
  padding: 48px 1.6rem;
}
.footer-link:hover {
  text-decoration: none;
  color: #a32135;
}
.actions-menu {
  display: block;
  width: 100%;
  height: 40px;
  background-color: #a32135;
  background-image: url("/assets/img/texture.png");
}
.user-image {
  border: 1px solid #a32135;
  border-radius: 300px;
  width: 200px;
}

.profile-nav {
  position: relative;
  font-family: "Neotech-medium";
  padding: 33px 0;
}
.profile-notification-count {
  position: absolute;
  right: -5px;
  top: -5px;
  color: #fff;
  background-color: #a32135;
  padding: 5px 7px;
  font-size: 12px;
  border-radius: 300px;
}
.profile-nav .user-image {
  width: 34px;
}
.profile-img-icon {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.profile-link {
  display: inline-block;
  vertical-align: middle;
}
.profile-user-menu {
  display: block;
  text-align: left;
  position: absolute;
  width: 100%;
  background-color: #f7f8f4;
  padding: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 0px 10px 10px 1px rgba(0, 0, 0, 0.5);
  left: 0;
  top: 120px;
  max-height: 0px;
  overflow: hidden;
  padding: 0px 5px;
  transition: all ease 0.2s;
}
.profile-nav:hover .profile-user-menu {
  max-height: 300px;
  overflow: visible;
  padding: 5px;
  z-index: 2;
}
.profile-nav:hover .profile-user-menu:hover {
  max-height: 300px;
  overflow: visible;
  padding: 5px;
  z-index: 2;
}

.profile-user-menu-link a {
  padding: 5px;
  color: #a32135;
  display: block;
}
.profile-user-menu-link a:hover {
  text-decoration: none;
  color: #d0475c;
  background-color: #fff;
}
.responsive-menu,
.mob-visible {
  display: none;
}
.responsive-menu-open {
  max-width: 100% !important;
}

/********************
Responsive
******************/

@media (max-width: 576px) and (max-width: 768px) {

  .footer-actions,
  .copyright {
    text-align: center;
  }
  .footer-actions img {
    width: 50%;
  }
  .footer-actions .social-media-links img {
    width: 24%;
  }
  .footer-actions .payment-links img {
    width: 90%;
  }
  .footer-actions .app-store-links,
  .footer-actions .social-media-links,
  .footer-actions .payment-links {
    margin: 10px auto;
  }
  .footer-main {
    text-align: center;
  }
  .footer-main .row {
    margin-bottom: 20px;
  }
  .input-holder {
    margin: 0 auto;
  }
  .top-header {
    text-align: center !important;
  }
  .top-header .text-left,
  .top-header .text-right {
    text-align: center !important;
  }
  .top-header .text-right {
    background-color: #eee;
  }
  .top-header .text-left a {
    width: 49%;
  }
  .main-header .text-left,
  .main-header .text-right {
    text-align: center !important;
  }
  .main-links {
    padding: 20px 0;
  }
  .main-link {
    padding-right: 10px;
    padding-left: 10px;
    min-width: 90px;
    font-size: 15px;
    text-transform: uppercase;
  }
  .nudge-right,
  .nudge-left {
    margin: 10px auto;
  }
  .main-link:hover {
    padding-right: 10px;
    padding-left: 10px;
    padding: 14px 10px;
  }
  .user-info-holder {
    text-align: center;
  }
  .user-image {
    border: 3px solid #a32135;
    width: 100px;
    display: inline-block;
    vertical-align: bottom;
  }
  .footer-title {
    font-size: 16px;
  }
  .footer-link {
    font-size: 12px;
  }
  .footer-actions-header {
    font-size: 20px;
  }
  .responsive-menu {
    display: block;
    max-width: 0;
    overflow: hidden;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: #fff;
    transition: all ease 0.5s;
  }
  .responsive-menu .user-link {
    width: 49%;
  }
  .responsive-menu .profile-data {
    display: block;
    width: 100%;
    left: 15px;
    position: relative;
  }
  .responsive-menu .profile-data > div {
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
  }
  .responsive-menu .profile-img-icon img {
    width: 50px;
  }
  .responsive-menu .main-links {
    display: block;
    width: 100%;
  }
  .responsive-menu .main-link {
    display: block;
    width: 100%;
    text-align: left;
    padding: 20px 30px;
  }
  .action-icons img {
    width: 20px;
  }
  .action-icons a {
    padding: 10px 0;
    width: 20%;
  }
  .mob-sep {
    display: block;
    width: 100%;
    height: 2px;
    border-bottom: 2px solid #ddd;
  }
  .close {
    background-color: #a32135;
  }
  .action-icons {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
  }
  .responsive-menu .profile-img-icon {
    text-align: center;
  }
  .user-name {
    font-family: Neotech;
    font-size: 18px;
    margin: 4px 0;
  }
  .responsive-menu .profile-data {
    background-color: #a32135;
    color: #fff;
  }
  .mob-copyright {
    position: absolute;
    bottom: 15px;
    color: #fff;
    background-color: #a32135;
    padding: 10px;
    margin: 0 15px;
    font-family: Neotech;
    font-size: 10px;
    text-align: center;
  }
  .top-header,
  .main-header {
    display: none;
  }
  .mob-visible {
    display: block;
  }
  .mob-visible .logo img {
    height: 40px;
  }
  .mob-visible .logo {
    display: inline-block;
    width: 87%;
    vertical-align: top;
    padding: 0 10px;
  }
  .mob-visible .menu-btn {
    display: inline-block;
    width: auto;
    vertical-align: top;
    text-align: right;
    width: 10%;
  }
  .mob-visible .close-btn img {
    height: 40px;
  }

  .close-btn-holder {
    padding: 10px 0;
    width: 20%;
    background-color: #a32135;
  }

  .profile-holdler {
    display: block;
  }
  .profile-holdler .col-md-3 {
    display: block;
    margin: 0 auto;
  }
  .profile-holdler .col-md-9 {
    display: block;
    margin: 0 auto;
  }
  .profile-holdler .user-form-col {
    display: inline-block;
    width: 100%;
    margin: 10px 0px;
    padding: 0;
  }
  .profile-holdler .user-form-col-full {
    display: inline-block;
    width: 100%;
    margin: 10px 0px;
    padding: 0;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .footer-actions {
    text-align: center;
  }
  .responsive-menu {
    display: block;
    max-width: 0;
    overflow: hidden;
    height: auto;
    min-height: 100%;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: #fff;
    transition: all ease 0.5s;
  }
  .responsive-menu .user-link {
    width: 49%;
  }
  .responsive-menu .profile-data {
    display: block;
    width: 100%;
    left: 15px;
    position: relative;
  }
  .responsive-menu .profile-data > div {
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
  }
  .responsive-menu .profile-img-icon img {
    width: 50px;
  }
  .responsive-menu .main-links {
    display: block;
    width: 100%;
  }
  .responsive-menu .main-link {
    display: block;
    width: 100%;
    text-align: left;
    padding: 20px 30px;
  }
  .action-icons img {
    width: 20px;
  }
  .action-icons a {
    padding: 10px 0;
    width: 20%;
  }
  .mob-sep {
    display: block;
    width: 100%;
    height: 2px;
    border-bottom: 2px solid #ddd;
  }
  .close {
    background-color: #a32135;
  }
  .action-icons {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
  }
  .responsive-menu .profile-img-icon {
    text-align: center;
  }
  .user-name {
    font-family: Neotech;
    font-size: 18px;
    margin: 4px 0;
  }
  .responsive-menu .profile-data {
    background-color: #a32135;
    color: #fff;
  }
  .mob-copyright {
    position: absolute;
    bottom: 15px;
    color: #fff;
    background-color: #a32135;
    padding: 10px;
    margin: 0 15px;
    font-family: Neotech;
    font-size: 10px;
    text-align: center;
  }
  .top-header,
  .main-header {
    display: none;
  }
  .mob-visible .logo img {
    height: 40px;
  }
  .mob-visible .logo {
    display: inline-block;
    width: 87%;
    vertical-align: top;
    padding: 0 10px;
  }
  .mob-visible .menu-btn {
    display: inline-block;
    width: auto;
    vertical-align: top;
    text-align: right;
    width: 10%;
  }
  .mob-visible .close-btn img {
    height: 40px;
  }
  .close-btn-holder {
    padding: 10px 0;
    width: 20%;
    background-color: #a32135;
  }
}
@media only screen and (orientation: portrait) {
  .responsive-menu {
    display: block;
    max-width: 0;
    overflow: hidden;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: #fff;
    transition: all ease 0.5s;
  }
  .responsive-menu .user-link {
    width: 49%;
  }
  .responsive-menu .profile-data {
    display: block;
    width: 100%;
    left: 0px;
    position: relative;
  }
  .responsive-menu .profile-data > div {
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
  }
  .responsive-menu .profile-img-icon img {
    width: 50px;
  }

  .responsive-menu .main-links {
    display: block;
    width: 100%;
  }
  .responsive-menu .main-link {
    display: block;
    width: 100%;
    text-align: left;
    padding: 20px 30px;
  }
  .action-icons img {
    width: 20px;
  }
  .action-icons a {
    padding: 10px 0;
    width: 20%;
  }
  .mob-sep {
    display: block;
    width: 100%;
    height: 2px;
    border-bottom: 2px solid #ddd;
  }
  .close {
    background-color: #a32135;
  }
  .action-icons {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
  }
  .responsive-menu .profile-img-icon {
    text-align: center;
  }
  .user-name {
    font-family: Neotech;
    font-size: 18px;
    margin: 4px 0;
  }
  .responsive-menu .profile-data {
    background-color: #a32135;
    color: #fff;
  }
  .mob-copyright {
    position: absolute;
    bottom: 15px;
    color: #fff;
    background-color: #a32135;
    padding: 10px;
    margin: 0;
    font-family: Neotech;
    font-size: 10px;
    text-align: center;
  }
  .top-header,
  .main-header {
    display: none;
  }
  .mob-visible .logo img {
    height: 40px;
  }
  .mob-visible .logo {
    display: inline-block;
    width: 87%;
    vertical-align: top;
    padding: 0 10px;
  }
  .mob-visible .menu-btn {
    display: inline-block;
    width: auto;
    vertical-align: top;
    text-align: right;
    width: 10%;
  }
  .mob-visible .close-btn img {
    height: 40px;
  }
  .close-btn-holder {
    padding: 10px 0;
    width: 20%;
    background-color: #a32135;
  }
}

