
.section-serialnumber {
  padding-top: 78px;
}
.section-serialnumber .serialnumber {
  margin-top: -78px;
  padding-right: 30px;
  border-right: 1px solid #d8d8d8;
}
.section-serialnumber .serialnumber span {
  color: #6e7684;
  display: block;
  line-height: 0.6;
  font-size: 120px;
  margin-bottom: 20px;
  font-family: "Goldman", cursive;
}
.section-serialnumber .serialnumber h4 {
  font-size: 24px;
}

