/* =-=-=-=-=-=-= 404 Page =-=-=-=-=-=-= */
.error-page .error-container {
	font-family: 'Poppins', sans-serif;
}

.error-page .error-container {
	margin-bottom: 40px;
}

.error-page .error-container> .error-text {
	color: #232323;
	font-size: 270px;
	line-height: 1;
	text-align: center;
	margin-bottom: 30px;
}

.error-page .error-container> .error-info {
	color: #050709;
	font-size: 32px;
	text-transform: capitalize;
	text-align: center;
}