<!-- Slider Area Start -->
<section class="position-relative">
  <swiper
    class="main-slider-area" [navigation]="true" [slidesPerView]="1" [spaceBetween]="50" (swiper)="onSwiper($event)"(slideChange)="onSlideChange()">
    <ng-template swiperSlide class="d-flex justify-content-center flex-column" >
      <div class="hero-bg-images">
        <div class="bg-overlay"></div>
        <div class="cover">
          <img src="/assets/img/slider/slider-2.jpg" loading="lazy" class="cover" alt="">  
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <p class="text-white letter-spacing-2"> FOR RENT %65 PER DAY</p>
          </div>
          <div class="col-12">
            <h2 class="text-white mt-1">Reserved Now & Get <span>50% Off</span></h2>
          </div>
          <div class="col-3 mt-5">
            <a href="#" class="main-btn">Reserve Now!</a>
          </div>
        </div>
      </div>
    </ng-template> 
    <ng-template swiperSlide class="d-flex justify-content-center flex-column" >
      <div class="hero-bg-images">
        <div class="bg-overlay"></div>
        <div class="cover">
          <img src="/assets/img/slider/slider-1.jpg" loading="lazy" class="cover" alt="">  
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <p class="text-white letter-spacing-2"> FOR RENT %65 PER DAY</p>
          </div>
          <div class="col-12">
            <h2 class="text-white mt-1">Reserved Now & Get <span>50% Off</span></h2>
          </div>
          <div class="col-3 mt-5">
            <a href="#" class="main-btn">Reserve Now!</a>
          </div>
        </div>
      </div>
    </ng-template> 
    <ng-template swiperSlide class="d-flex justify-content-center flex-column" >
      <div class="hero-bg-images">
        <div class="bg-overlay"></div>
        <div class="cover">
          <img src="/assets/img/slider/slider-2.jpg" loading="lazy" class="cover" alt="">  
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <p class="text-white letter-spacing-2"> FOR RENT %65 PER DAY</p>
          </div>
          <div class="col-12">
            <h2 class="text-white mt-1">Reserved Now & Get <span>50% Off</span></h2>
          </div>
          <div class="col-3 mt-5">
            <a href="#" class="main-btn">Reserve Now!</a>
          </div>
        </div>
      </div>
    </ng-template> 
    <ng-template swiperSlide class="d-flex justify-content-center flex-column" >
      <div class="hero-bg-images">
        <div class="bg-overlay"></div>
        <div class="cover">
          <img src="/assets/img/slider/slider-1.jpg" loading="lazy" class="cover" alt="">  
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <p class="text-white letter-spacing-2"> FOR RENT %65 PER DAY</p>
          </div>
          <div class="col-12">
            <h2 class="text-white mt-1">Reserved Now & Get <span>50% Off</span></h2>
          </div>
          <div class="col-3 mt-5">
            <a href="#" class="main-btn">Reserve Now!</a>
          </div>
        </div>
      </div>
    </ng-template> 
  </swiper>
</section>
<!-- Slider Area End -->
