<div class="footer">
  <div class="footer-main">
    <div class="container-lg">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <div class="row">
            <h4 class="footer-title">quick links</h4>
            <div class="col-sm-12 col-md-6">
              <a href="#" class="footer-link">Home</a>
              <a href="#" class="footer-link">about cherry</a>
              <a href="#" class="footer-link">services</a>
              <a href="#" class="footer-link">contact us</a>
              <a href="#" class="footer-link">terms and considtions</a>
              <a href="#" class="footer-link">privacy policy</a>
            </div>
            <div class="col-sm-12 col-md-6"></div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6">
          <div class="row">
            <h4 class="footer-title">subscribe for our news letter</h4>
            <div class="input-holder">
              <input class="news-letter" />
              <button class="submit-newsletter"></button>
            </div>
            <div class="col-sm-12 col-md-12"></div>
          </div>
          <div class="row">
            <h4 class="footer-title">faq</h4>
            <div class="col-sm-12 col-md-12">
              <a href="#" class="faq-link">
                 <img src="/assets/img/faq_ico.png"/>
               </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-actions">
    <div class="container-lg">
      <div class="row">
        <div class="col-sm-12 col-md-4 app-store-links">
          <h4 class="footer-actions-header">download the cherry app</h4>
          <a href="#">
            <img class="col-sm-6 col-md-6" src="/assets/img/appstore.png" />
          </a>
          <a href="#">
            <img class="col-sm-6 col-md-6" src="/assets/img/playstore.png" />
          </a>
        </div>
        <div class="col-sm-12 col-md-4 social-media-links">
          <h4 class="footer-actions-header">follow us on social media</h4>
          <a href="#">
            <img class="col-sm-3 col-md-3" src="/assets/img/social1.png" />
          </a>
          <a href="#">
            <img class="col-sm-3 col-md-3" src="/assets/img/social2.png" />
          </a>
          <a href="#"
            ><img class="col-sm-3 col-md-3" src="/assets/img/social3.png" />
          </a>
          <a href="#">
            <img class="col-sm-3 col-md-3" src="/assets/img/social4.png" />
          </a>
        </div>
        <div class="col-sm-12 col-md-4 payment-links">
          <h4 class="footer-actions-header">payments accepted</h4>
          <img class="col-sm-12 col-md-12" src="/assets/img/payments.png" />
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <div class="container-lg">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          copyright cherry 2021, all rights reserved
        </div>
      </div>
    </div>
  </div>
</div>
