<div class="container pt-3 pb-2">

    <div class="row pt-2">
        <div class="col-lg-3 mt-4 mt-lg-0">

            <div class="d-flex justify-content-center mb-4">
                <div class="profile-image-outer-container">
                    <div class="profile-image-inner-container bg-color-primary">
                        <img src="/assets/img/user.png">
                        <span class="profile-image-button bg-gray">
                            <i class="fas fa-camera text-light"></i>
                        </span>
                    </div>
                    <input type="file" id="file" class="form-control profile-image-input">
                </div>
            </div>

            <aside class="sidebar mt-2" id="sidebar">
                <ul class="nav nav-list flex-column mb-5">
                    <li class="nav-item"><a class="nav-link text-3 text-dark active" href="#">My Profile</a></li>
                    <li class="nav-item"><a class="nav-link text-3" href="#">User History</a></li>
                    <li class="nav-item"><a class="nav-link text-3" href="#">Billing</a></li> 
                </ul>
            </aside>

        </div>
        <div class="col-lg-9">
            <form role="form" class="needs-validation" novalidate="novalidate">
            
            </form>

        </div>
    </div>

</div>