.dataTable-wrapper {
  .dataTable-top {
    .dataTable-dropdown {
      label {
        display: flex;
        align-items: center;
        white-space: nowrap;
        select {
          margin-right: 10px;
          .rtl & {
            margin-right: 0;
            margin-left: 10px;
          }
        }
      }
    }
    .dataTable-search {
      .dataTable-input {
        @extend .form-control;
      }
    }
  }
  .dataTable-container {
    .dataTable-table {
      th {
        a.dataTable-sorter {
          &::before {
            bottom: -2px;
          }
          &::after {
            top: -2px;
          }
        }
      }
      th, td {
        padding: $table-cell-padding;
      }
    }
  }
  .dataTable-bottom {
    .dataTable-pagination {
      .rtl & {
        display: flex;
      }
      li {
        @extend .page-item;
        .rtl & {
          &.pager {
            &:first-child {
              a {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                border-top-right-radius: $border-radius;
                border-bottom-right-radius: $border-radius;
              }
            }
            &:last-child {
              a {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                border-top-left-radius: $border-radius;
                border-bottom-left-radius: $border-radius;
              }
            }
          }
        }
        a {
          @extend .page-link;
          color: theme-color(primary);
        }
        &.active {
          a {
            color: #fff;
            background-color: theme-color(primary);
            border-color: theme-color(primary);
          }
        }
      }
    }
  }
}